Containerfile*
.gitignore
.github
.git
/clients/
/source/
tsconfig.json
.vscodeignore
.mypy_cache
.pytest_cache
.ruff_cache
/htmlcov/*
*.pyc
*~
/dist/
/node_modules/
/rpm-spec-language-server-*.vsix
/coverage.xml
/.coverage
/build/
