.*
*~
*.lock
*.json
*.xml
*.vsix
**/*.ts
**/*.map
**/*.py
**/*.log
dist/**
clients/emacs/**
htmlcov/**
rpm_spec_language_server*/**
tests/**
pyproject.toml
**/__pycache__/*
.github/**
.vscode/**
.pytest_cache/**
source/**
build/**
